
@{
    ViewBag.Title = "Chi tiết phiếu nhập";
}
<style>
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>

<h4>Thông tin phiếu nhập</h4>
<table class="table">
    <tr>
        <th>Mã phiếu</th>
        <th>Nhà xuất bản</th>
        <th>Ngày tạo phiếu</th>
        <th>Tổng tiền</th>
        <th>Ghi chú</th>
    </tr>
    <tr>
        <td>@ViewBag.receiptInfo.ID</td>
        <td>@ViewBag.receiptInfo.Publisher.Name</td>
        <td>@ViewBag.receiptInfo.Date</td>
        <td>@String.Format("{0:N0}", ViewBag.receiptInfo.Total)</td>
        <td>@ViewBag.receiptInfo.Description</td>
    </tr>
</table>

@using (Html.BeginForm("CreateReceiptDetails", "Receipts"))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("bookID", ViewBag.books as SelectList,
                    "------ Chọn sách ------",
                    new { @class = "form-control", @onchange = "this.form.submit()" })
            </div>
        </div>

        <div class="form-group">
            <table class="table" style="margin-top:15px">
                <tr>
                    <th>Tên sách</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th></th>
                </tr>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].Book.Name</td>
                        <td>
                            <input type="number" min="0" value="@Model[i].Quantity" name="quantity_@i"
                                   onchange="this.form.submit()"
                                   class="form-control" />
                            <input type="hidden" value="@Model[i].BookID" name="receiptDetail_@i" />
                        </td>
                        <td>@String.Format("{0:N0}", Model[i].UnitPrice)</td>
                        <td>@String.Format("{0:N0}", (Model[i].Quantity * Model[i].UnitPrice))</td>
                        <td>@Html.ActionLink("Xóa", "DeleteDetail", "Receipts", new { bookID = Model[i].BookID }, null)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <input type="hidden" name="justCreated" value="0" />
}

<div class="form-group">
    <div class="col-md-2 pull-right">
        <a href="Save?receiptID=@ViewBag.receiptInfo.ID&publisherID=@ViewBag.receiptInfo.PublisherID">
            <input type="button" value="Lưu" class="btn btn-success" />
        </a> |
        <a href="DeleteReceipt?receiptID=@ViewBag.receiptInfo.ID"><input type="button" value="Hủy" class="btn btn-danger" /></a>
    </div>
</div>

