@model IEnumerable<BookManagementApp.Models.Stock>

@{
    ViewBag.Title = "Thống kê tồn kho";
}
<h2>KẾT QUẢ LỌC</h2>

<h4>
    <b>Sách</b>: <span style="color: #4267b2">@ViewBag.chosenBook</span> - <b>Ngày</b>: <span style="color: #4267b2">@ViewBag.chosenDate</span> 
</h4>

@using (Html.BeginForm("StockFilter", "Home", FormMethod.Post))
{
    @Html.DropDownList("Books", "-------- Tất cả sách --------")
    <span>Chọn ngày:</span>
    <input type="date" name="FilterDate" />

    <input type="submit" value="Lọc" />
}

<br />

<table class="table">
    <tr>
        <th>
            Tên sách
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Thời gian
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }
</table>