@model IEnumerable<BookManagementApp.Models.Stock>

@{
    ViewBag.Title = "Thống kê tồn kho";
}
<h2>KẾT QUẢ LỌC</h2>

<br />

@using (Html.BeginForm("StockFilter", "Stocks", FormMethod.Post))
{
    @Html.DropDownList("Books", "-------- Tất cả sách --------")
    <span>Chọn ngày:</span>
    <input type="date" name="FilterDate" />

    <input type="submit" value="Lọc" />
}

<br />
<h4>
    <b>Sách</b>: <i>@ViewBag.chosenBook</i> - <b>Ngày</b>: <i>@ViewBag.chosenDate</i>
</h4>

<br />

<table class="table">
    <tr>
        <th>
            Tên sách
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Thời gian
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (item != null)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }

    }
</table>