
@{
    ViewBag.Title = "Chi tiết phiếu xuất";
}
<style>
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>
<h4>Thông tin phiếu xuất</h4>
<table class="table">
    <tr>
        <th>Mã phiếu</th>
        <th>Đại lý</th>
        <th>Ngày tạo phiếu</th>
        <th>Tổng tiền</th>
        <th>Ghi chú</th>
    </tr>
    <tr>
        <td>@ViewBag.invoiceInfo.ID</td>
        <td>@ViewBag.invoiceInfo.Agency.Name</td>
        <td>@ViewBag.invoiceInfo.Date</td>
        <td>@String.Format("{0:N0}", ViewBag.invoiceInfo.Total)</td>
        <td>@ViewBag.invoiceInfo.Description</td>
    </tr>
</table>
@using (Html.BeginForm("CreateDetails", "Invoices"))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("bookID", ViewBag.books as SelectList,
                    "------ Chọn sách ------",
                    new { @class = "form-control", @onchange = "this.form.submit()" })
            </div>
        </div>
        <p style="color:red;font-weight:bold">
            @if (ViewBag.error != null)
            {
                <span>@ViewBag.error &nbsp;</span>

                <span>(@ViewBag.errorInfo)</span>
            } 
           
            
        </p>
        <div class="form-group">
            <table class="table" style="margin-top:15px">
                <tr>
                    <th>Tên sách</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th></th>
                </tr>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].Book.Name</td>
                        <td>
                            <input type="number" min="0" max="1000" value="@Model[i].Quantity" name="quantity_@i"
                                   onchange="this.form.submit()"
                                   class="form-control" />
                            <input type="hidden" value="@Model[i].BookID" name="invoiceDetail_@i" />
                        </td>
                        <td>@String.Format("{0:N0}", Model[i].UnitPrice)</td>
                        <td>@String.Format("{0:N0}", (Model[i].Quantity * Model[i].UnitPrice))</td>
                        <td>@Html.ActionLink("Xóa", "DeleteDetail", "Invoices", new { bookID = Model[i].BookID }, null)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <input type="hidden" name="justCreated" value="0" />
}
<div class="form-group">
    <div class="col-md-2 pull-right">
        <a href="Save?invoiceID=@ViewBag.invoiceInfo.ID&agencyID=@ViewBag.invoiceInfo.AgencyID">
            <input type="button" value="Lưu" class="btn btn-success" />
        </a> |
        <a href="DeleteInvoice?invoiceID=@ViewBag.invoiceInfo.ID"><input type="button" value="Hủy" class="btn btn-danger" /></a>
    </div>
</div>
