@model IEnumerable<BookManagementApp.Models.Invoice>

@{
    ViewBag.Title = "Danh sách phiếu xuất";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DANH SÁCH PHIẾU XUẤT</h2>

<p>
    @Html.ActionLink("Tạo phiếu xuất", "Create")
</p>
<table class="table">
    <tr>
        <th>Mã phiếu</th>
        <th>
            Đại lý
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Ngày nhập
        </th>
        <th>
            Ghi chú
        </th>
        <!--<th>
           Tình trạng
        </th>-->
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Agency.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <!--<td>
                @if (item.Status == true)
                {
                    <span>Đã lưu</span>
                }
                else {
                    <span>Đã Hủy</span>
                }
            </td>-->
            <!--<td>
                @if (item.Status) {
                    <span>@Html.ActionLink("Cập nhật", "Edit", new { id = item.ID }) | </span>}
                @Html.ActionLink("Chi tiết", "Details", new { id=item.ID })
            </td>-->
            <td>@Html.ActionLink("Chi tiết", "Details", new { id = item.ID })</td>
        </tr>
    }
</table>