@model IEnumerable<BookManagementApp.Models.Book>

@{
    ViewBag.Title = "Danh sách các đầu sách";
}

<h2>DANH SÁCH CÁC ĐẦU SÁCH</h2>

<p>
    @Html.ActionLink("Thêm sách mới", "Create")
</p>
<table class="table">
    <tr>
        <th>Tên sách</th>
        <th>Loại sách</th>
        <th>Nhà xuất bản</th>
        <th>Tác giả</th>
        <th>Ngày xuất bản</th>
        <th>Giá bán</th>
        <th>Giá mua</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) 
            </td>
        </tr>
    }

</table>
